*{
	margin:0;
	padding: 0;
	border: none;
	/*box-sizing: border-box;*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
}
header {
	width: 100%;
	background-color: white;
	border-bottom: 2px black solid;
	border-top: 10px #2f2f9a solid;
}
.block-logo {
	height: 140px;
	width: 1170px;
	margin: auto;
}
.block-1{
	display: block;
}
.block-1 a{
	width: 535px;
	height: 89px;
	
}
.block-2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	float: right;
	padding-top: 10px;
   
}
.block-2 .search-box{
	display: block;
}
.block-2 .search-box i{
}
.block-2 .search-box .button-search{
	font-size: 15px;
	font-family: arial;
	border: 1px black solid;
	background-color: #b5b5dd;
}
.block-2 .search-box .input-search{
	font-size: 15px;
	font-family: arial;
}
.block-2 .login{
	margin-left: 20px;
}
.block-2 .login a{
	display: block;
	margin-right: 15px;
	float: left;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
}
/**/
/**/
.menu-list{
	background-color: #2f2f9a;
}
.menu-list ul{
	list-style-type: none;
	width: 1170px;
	height: 47px;
	background-color: #2f2f9a;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;

}
.menu-list li{
	display: inline-block;
}
.menu-list a{
	display: block;
	text-transform: uppercase;	
	font-size: 15px;
	font-family: arial;
	color: white;
	text-decoration: none;

}
.menu-list i{
	font-size: 16px;
}
.menu-list li:hover{
	background-color: blue;
	transition: 1s;
}
.banner-img img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.banner-img:hover img{
	opacity: 0.6;
	transition: 1s;
}
/*
*/
.main-container{
	background-color: white;
	width: 1170px;
	height: 475px;
	margin-left: auto;
	margin-right: auto;
}
.block-icon {
	width: 1170px;
	height: 131px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px grey solid;
	text-align: center;
}
.block-icon img{
	width: 25px;
	height: 25px;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.block-icon a{
	display: inline-block;
	width: 146.25px;
	height: 91px;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	color: black;
	text-align: center;
	margin-top: 20px;
}
.list-new {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.block-news-1 {
	width: 498px;
	height: 374px;
	float: left;
}
.block-news-1 img{
	width: 498px;
	height: 280px;
}
.block-news-1 a{
	font-size: 15px;
	font-family: arial;
	color: black;
	text-decoration: none;
	font-weight: bolder;
}
.block-news-1 p{
	font-size: 14px;
	font-family: arial;
	color: black;
	text-decoration: none;
}
.block-news-1 a:hover{
	color: red;
}
.block-news-2 {
	width: 373px;
	height: 42px;
}
.block-news-2 a{
	margin-left: 55px;
	margin-bottom: 20px;
	font-size: 25px;
	font-family: arial;
	background-color: #80808030;
	text-decoration: none;
	text-transform: uppercase;
}
.block-news-2 ul{
	list-style: none;
}
.block-news-2 li a{
	display: block;
	font-size: 18px;
	font-family: arial;
	text-decoration: none;
	text-transform: none;
	color: black;
	background-color: white;
	border-bottom: 1px black dotted;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 10px;
}
.block-news-2 a:hover{
	color: red;
}
.block-news-list{
	margin-left: 5px;
}
.block-news-list ul{
	list-style: none;
}
.block-news-list h2{
	font-family: arial;
	font-size: 18px;
	text-transform: uppercase;
	color: blue;
}
.block-news-list a{
	display: block;
	font-family: arial;
	font-size: 18px;
	color: black;
	margin-bottom: 15px;
	text-decoration: none;
	border-bottom: 1px black dotted;
}
.block-news-list a:hover{
	color: red;
}
.container-info-img {
	width: 100%;
	height: 250px;
	background-color: #80808021;
	display: flex;
	align-items: center;
}
.banner-info {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1170px;
    margin: auto;
}
.banner-info img{
	width: 374px;
	height: 177.65px;
}
.container-edu {
	width: 100%;
	height: 250px;
	background-color: white;
	display: flex;
	align-items: center;
}
.edu {
	width: 1170px;
	margin: auto;
	margin-top: 20px;
	background-color: white;
}
.block-edu {
	width: 100%;
	height: 336px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header-edu a{
	display: block;
	margin-top: 10px;
	margin-bottom: -45px;
	font-weight: bold;
	font-size: 25px;
	font-family: arial;
	color: #0000ffa6;
	text-decoration: none;
	text-transform: uppercase;
}
.block-new {
	width: 281px;
	height: 240px;
	margin-left: 10px;
	position: relative;
}
.block-new img{
	background-position: center;
    background-size: cover;
    width: 90%;
    margin-top: 10px;
    height: 137px;
}
.block-new p{
	display: block;
	font-size: 18px;
	font-family: arial;
	color: black;
	text-decoration: none;	
}
.block-new img:hover{
	transform: scale(1.2);
	opacity: 0.5;
}
.block-new-list li a{
	display: block;
	font-family: arial;
	font-size: 20px;
	color: black;
	text-decoration: none;
	opacity: 0.6;
	margin-bottom: 15px;
	border-bottom: 1px black dotted;
}
.block-new-list li a:hover{
	color: red;
}
.container-foreign {
	width: 100%;
	background-color: #80808021;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}
.header-foreign a{
	display: block;
	margin-top: 10px;
	margin-bottom: -45px;
	font-weight: bold;
	font-size: 25px;
	font-family: arial;
	color: #0000ffa6;
	text-decoration: none;
	text-transform: uppercase;
}
.container-foreign .block-edu {
	width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container-stu {
	width: 100%;
	height: 350px;
	background-color: white;
}
.stu {
	width: 1170px;
	height: 100%;
	margin: auto;
}
.header-stu {
	display: block;
}
.header-stu a{
	display: block;
	width: 142px;
	height: 30px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 24px;
	font-family: arial;
	color: #0000ffa6;
	text-decoration: none;
	text-transform: uppercase;
}
.block-stu {
	width: 100%;
	height: 245px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.block-stu .new1 {
	width: 281px;
	height: 100%;
	margin-left: 10px;
	margin-right: 30px;
}
.block-stu .new-1 ul{
	display: block;
	margin-left: 30px;
	float: left;
}
.block-stu .new-1 li a{
	display: block;
	width: 260px;
	margin-right: 10px;
	text-align: left;
	font-size: 14px;
	font-family: arial;
}
.block-stu .new-1 img{
	background-position: center;
    background-size: cover;
    width: 280px;
    margin-top: 10px;
}
.block-stu .new-1 p{
	display: block;
	font-size: 18px;
	font-family: arial;
	color: black;
	text-decoration: none;	
}
.block-stu .new-1 li a{
	display: block;
	font-size: 18px;
	font-family: arial;
	color: black;
	text-decoration: none;
	margin-right: 50px;
}
.block-stu .new-1 img:hover{
	transform: scale(1.2);
}
.block-stu .new-1 li a:hover{
	color: red;
}
.container-partner {
	width: 100%;
	height: 250px;
	margin: auto;
	background-color: #f8f0f0ed;
}
.container-partner .header-partner a{
	display: block;
	width: 1170px;
	font-weight: bold;
	font-size: 25px;
	font-family: arial;
	color: #001373;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}
.icon-partner {
	width: 1170px;
	height: 200px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
.icon-partner .icon-partner-1 img{
	background-position: center;
    background-size: cover;
    width: 90%;
    margin-top: 10px;
}
.block-intro {
	background-color: #004eaf;
	height: 60px;
	width: 100%;
	margin: auto;
}
.intro {
	width: 1170px;
	height: 56px;
	margin: auto;
	display: flex;
	align-items: center;
}
.intro-1 p{
	display: inline;
	float: left;
	font-size: 23px;
	text-transform: uppercase;
	font-family: arial;
	color: white;
}
.intro-2 {	
	width: 398px;
	margin-left: 180px;
}
.intro-2 i{
	font-size: 23px;
	color: white;
	display: block;
	float: right;
	margin-left: 20px;
}
.block-end {
	background-color: #001373;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
}
.content {
	line-height: 18px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	font-family: arial;
	margin-bottom: 20px;
}
.content p{
	border-bottom: 1px white dotted;
	margin-bottom: 5px;
}
