*{
	margin:0;
	padding: 0;
	border: none;
	/*box-sizing: border-box;*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
}
.khoi-logo {
	border-bottom: 2px black solid;
	border-top: 10px #2f2f9a solid;
	display: flex;
}
.khoi-1{
	display: block;
	margin-left: 186px;
}
.khoi-1 a{
	width: 535px;
	height: 89px;
	
}
.khoi-2{
	display: flex;
   
}
.khoi-2 .tim-kiem{
	padding-top: 5px;
}
.khoi-2 .tim-kiem i{
	border: 1px black solid;
	margin-left: 127px;
	margin-top: 31px
}
.khoi-2 .tim-kiem .nut{
	font-size: 15px;
	font-family: arial;
	border: 1px black solid;
	background-color: #b5b5dd;
}
.khoi-2 .tim-kiem .input1{
	font-size: 15px;
	font-family: arial;
	border-left: : 1px black solid;
}
.khoi-2 .login{
	margin-top: 35px;
    margin-left: 266px;
}
.khoi-2 .login a{
	display: block;
	margin-right: 15px;
	float: left;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
}
/**/
.thanh-tac-vu{
	background-color: #2f2f9a;
}
.thanh-tac-vu ul{
	list-style-type: none;
	width: 1170px;
	height: 47px;
	background-color: #2f2f9a;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;

}
.thanh-tac-vu li{
	display: inline-block;
}
.thanh-tac-vu a{
	display: block;
	text-transform: uppercase;	
	font-size: 15px;
	font-family: arial;
	color: white;
	text-decoration: none;

}
.thanh-tac-vu i{
	font-size: 16px;
}
.thanh-tac-vu li:hover{
	background-color: blue;
	transition: 1s;
}
.banner1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.banner1:hover img{
	opacity: 0.6;
	transition: 1s;
}
.khoi-chinh{
	background-color: white;
	width: 1170px;
	height: 475px;
	margin-left: auto;
	margin-right: auto;
}
.khoi-icon {
	width: 1170px;
	height: 131px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px grey solid;
	text-align: center;
}
.khoi-icon img{
	width: 25px;
	height: 25px;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.khoi-icon a{
	display: inline-block;
	width: 146.25px;
	height: 91px;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	color: black;
	text-align: center;
	margin-top: 20px;
}
.bang-thong-bao {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.tin1 {
	width: 498px;
	height: 374px;
	float: left;
}
.tin1 img{
	width: 498px;
	height: 280px;
}
.tin1 a{
	font-size: 15px;
	font-family: arial;
	color: black;
	text-decoration: none;
	font-weight: bolder;
}
.tin1 p{
	font-size: 14px;
	font-family: arial;
	color: black;
	text-decoration: none;
}
.tin1 a:hover{
	color: red;
}
.tieu-de {
	width: 373px;
	height: 42px;
}
.tieu-de a{
	margin-left: 55px;
	margin-bottom: 20px;
	font-size: 25px;
	font-family: arial;
	background-color: #80808030;
	text-decoration: none;
	text-transform: uppercase;
}
.tieu-de ul{
	list-style: none;
}
.tieu-de li a{
	display: block;
	font-size: 18px;
	font-family: arial;
	text-decoration: none;
	text-transform: none;
	color: black;
	background-color: white;
	border-bottom: 1px black dotted;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 10px;
}
.tieu-de a:hover{
	color: red;
}
.hieu-khoa{
	margin-left: 5px;
}
.hieu-khoa ul{
	list-style: none;
}
.hieu-khoa h2{
	font-family: arial;
	font-size: 18px;
	text-transform: uppercase;
	color: blue;
}
.hieu-khoa a{
	display: block;
	font-family: arial;
	font-size: 18px;
	color: black;
	margin-bottom: 15px;
	text-decoration: none;
	border-bottom: 1px black dotted;
}
.hieu-khoa a:hover{
	color: red;
}
.sec-1 {
	width: 100%;
	height: 250px;
	background-color: #80808021;
	display: flex;
	align-items: center;
}
.khoi-banner2 {
	width: 100%;
	/*background-color: #80808021;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1170px;
    margin: auto;
    /*margin-top: 20px;*/
}
.khoi-banner2 img{
	width: 374px;
	height: 177.65px;
}
.daotao {
	width: 1170px;
	margin: auto;
	margin-top: 20px;
	background-color: white;
}
.sec-2 {
	width: 100%;
	height: 250px;
	background-color: white;
	display: flex;
	align-items: center;
}
.dao-tao {
	width: 100%;
	height: 336px;
	/*margin-top: 10px;*/
	/*background-color: white;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.head1 a{
	display: block;
	margin-top: 10px;
	margin-bottom: -45px;
	font-weight: bold;
	font-size: 25px;
	font-family: arial;
	color: #0000ffa6;
	text-decoration: none;
	text-transform: uppercase;
}
.new-1 {
	width: 281px;
	height: 240px;
	margin-left: 10px;
	position: relative;
}
.new-1 img{
	background-position: center;
    background-size: cover;
    width: 90%;
    margin-top: 10px;
}
.new-1 p{
	display: block;
	font-size: 18px;
	font-family: arial;
	color: black;
	text-decoration: none;	
}
.new-1 img:hover{
	transform: scale(1.2);
	opacity: 0.5;
}
.new-2 li a{
	display: block;
	font-family: arial;
	font-size: 20px;
	color: black;
	text-decoration: none;
	opacity: 0.6;
	margin-bottom: 15px;
	border-bottom: 1px black dotted;
}
.new-2 li a:hover{
	color: red;
}
.sec-3 {
	width: 100%;
	background-color: #80808021;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}
.head2 a{
	display: block;
	margin-top: 10px;
	margin-bottom: -45px;
	font-weight: bold;
	font-size: 25px;
	font-family: arial;
	color: #0000ffa6;
	text-decoration: none;
	text-transform: uppercase;
}
.doingoai .dao-tao {
	width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sec-4 {
	width: 100%;
	height: 350px;
	background-color: white;
}
.sinhvien {
	width: 1170px;
	height: 100%;
	margin: auto;
}
.head3 {
	display: block;
}
.head3 a{
	display: block;
	width: 142px;
	height: 30px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 24px;
	font-family: arial;
	color: #0000ffa6;
	text-decoration: none;
	text-transform: uppercase;
}
.sinh-vien {
	width: 100%;
	height: 245px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sinh-vien .new1 {
	width: 281px;
	height: 100%;
	margin-left: 10px;
	margin-right: 30px;
}
.sinh-vien .new-1 ul{
	display: block;
	margin-left: 30px;
	float: left;
}
.sinh-vien .new-1 li a{
	display: block;
	width: 260px;
	margin-right: 10px;
	text-align: left;
	font-size: 14px;
	font-family: arial;
}
.sinh-vien .new-1 img{
	background-position: center;
    background-size: cover;
    width: 280px;
    margin-top: 10px;
}
.sinh-vien .new-1 p{
	display: block;
	font-size: 18px;
	font-family: arial;
	color: black;
	text-decoration: none;	
}
.sinh-vien .new-1 img:hover{
	transform: scale(1.2);
}
.sinh-vien .new-1 li a{
	display: block;
	font-size: 18px;
	font-family: arial;
	color: black;
	text-decoration: none;
	margin-right: 50px;
}
.sinh-vien .new-1 li a:hover{
	color: red;
}
.doi-tac {
	width: 100%;
	height: 250px;
	margin: auto;
	background-color: #f8f0f0ed;
}
.doi-tac .name a{
	display: block;
	width: 1170px;
	font-weight: bold;
	font-size: 25px;
	font-family: arial;
	color: #001373;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}
.icon-name {
	width: 1170px;
	height: 200px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
.icon-name .icon-name-1 img{
	background-position: center;
    background-size: cover;
    width: 90%;
    margin-top: 10px;
}
.intro {
	background-color: #004eaf;
	height: 60px;
	width: 100%;
	margin: auto;
}
.intro-1-1 {
	width: 1170px;
	height: 56px;
	margin: auto;
	display: flex;
	align-items: center;
}
.intro-1 p{
	display: inline;
	float: left;
	font-size: 23px;
	text-transform: uppercase;
	font-family: arial;
	color: white;
}
.intro-2 {	
	width: 398px;
	margin-left: 180px;
}
.intro-2 i{
	font-size: 23px;
	color: white;
	display: block;
	float: right;
	margin-left: 20px;
}
.final {
	background-color: #001373;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
}
.khoi3-1 {
	line-height: 18px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	font-family: arial;
	margin-bottom: 20px;
}
.khoi3-1 p{
	border-bottom: 1px white dotted;
	margin-bottom: 5px;
}
